:root {
  --color-content-background: rgb(255, 255, 255);
  --color-font: rgb(66, 66, 66);

  ol, ul {
    list-style: none;
    padding-left: 0;
  }


}

#app {
  display: block;
  border-radius: 3px;
  height: 100%;
  position: relative;
  overflow: hidden;
}